*{
    margin:0;
    padding:0;
    font-family:Arial,"Times New Roman",sans-serif;
}
body {
	background-color:#dedede;
}

header{
	height:60px;
	background-image:url("eg_img/5.jpg");
	background-repeat:no-repeat;
	background-color:#000;
	background-position:left;
	position:relative;
}

header ul{
	position:absolute;
	right:5px;
	top:0px;
}

header ul li{
	display:block;
	float:left;
	padding:35px 10px 5px 10px;
}

header ul li a{
	color:#dedede;
	text-decoration:none;
	font-size:15px;
	text-align:bottom;
}

header ul li:hover{
	font-weight:bold;
	background-color:#444;
}

article,aside,#pic{
	display:block;
	margin:25px;
	padding:22px;
	background-color:white;
	border:1px solid #BFBFBF;
	box-shadow:4px 4px 2px #aaa;

}

article h1,#pic h1{
	margin:20px 0;
	font-weight:bold;
	font-size:28px;
	color:#444;
}

article h2{
	margin:10px 0;
	font-weight:bold;
	font-size:18px;
	color:#777;
}

article address{
	margin:15px 0;
	font-style:italic;
	font-size:15px;
	color:#777;
}

article p{
	font-size:16px;
	text-indent:32px;
}

article img{
	margin:20px 0;
	width:500px;
	height:300px;
}

article a{
	color:black;
	font-style:italic;
	text-decoration:underline;
	letter-spacing:1.5px;
}

#pic span{
	display:block;
	width:340px;
	border:1px solid #BFBFBF;
	padding-bottom:15px;
	text-align:center;
	position:relative;
	left:50px;
	top:20px;
	margin-bottom:30px;
}

#pic figcaption{
	margin-top:20px;
	margin-bottom:20px;
	font-size:16px;
}

#pic img{
	width:300px;
	height:180px;
}

article ol{
	display:block;
	position:relative;
	left:50px;
	font-weight:bold;
	font-family:sans-serif;
	margin:12px 0;
}

article li{
	margin:5px 0;
}

#table{
	width:100%;
	/*table-layout:fixed;*/
	text-align:left;
	border:1px solid #ccc;
	border-collapse:collapse;
	line-height:24px;
	font-size:14px;
}

#table thead{
	background-color:black;
	color:white;
}

#table tfoot{
	background-color:#ccc;
}

aside h1{
	font-size:17px;
	border-left:4px solid #ccc;
	line-height:37px;
	border-radius:1px;
	padding-left:12px;
}

aside form{
	line-height:32px;
	font-size:15px;
	color:black;
	margin:20px 0;
}

aside form label{
	margin-right:6px;
}

aside form div{
	margin-bottom:5px;
}

aside form label{
	float:left;
	text-align:right;
	width:40%;
	vertical-align:top;
	padding:0;
}
/*除了将label设置为float以外 也可以直接用line-block来做
不过在浏览器窗口缩小时会有不同*/

/*aside form label{
	display:inline-block;
	padding:0px;
	width:40%;
	text-align:right;
	vertical-align:top;
}*/

p.tips{
	font-size:15;
	color:#777;
	margin-left:40%;
	margin-top:-7px;
	position:relative;
	/*left:6px;*/
}

aside form textarea{
	width:50%;
	line-height:250%;
}

aside form button[type="submit"]{
	display:block;
	width:100%;
	height:32px;
	border:1px solid black;
	border-radius:6px;
	text-align:center;
	background-color:#000;
	color:white;
	font-size:20px;
}

footer p{
	text-align:center;
}